NEXT_PUBLIC_HASURA_ADMIN_SECRET=${HASURA_ADMIN_SECRET}
NEXT_PUBLIC_WEB3_POLYGON_RPC=

# Next-Auth secret, REQUIRED!
# How generate secret: <https://next-auth.js.org/getting-started/upgrade-v4#missing-secret>
NEXTAUTH_SECRET=

# For local development
NEXTAUTH_URL=http://localhost:4200
